{% extends "base.html" %}
{% block main %}
 
  <div class="row">
  
  <div class="col-12 bg-light pt-5 rounded">
    
    <img src="static\img\107學年度通識教育架構.jpg" width="960" height="720" usemap="#workmap" class="img-fluid">

    <map name="workmap">
        <area target="" alt="基礎" title="基礎" href="a" coords="234,356,92,301" shape="rect">
        <area target="" alt="體育" title="體育" href="b" coords="319,302,454,347" shape="rect">
        <area target="" alt="體驗" title="體驗" href="c" coords="514,304,631,348" shape="rect">
        <area target="" alt="公民" title="公民" href="d" coords="118,526,19,477" shape="rect">
        <area target="" alt="全球" title="全球" href="e" coords="126,477,227,523" shape="rect">
        <area target="" alt="思考" title="思考" href="f" coords="237,474,334,526" shape="rect">
        <area target="" alt="經典" title="經典" href="g" coords="345,475,445,529" shape="rect">
        <area target="" alt="審美" title="審美" href="h" coords="455,475,557,527" shape="rect">
        <area target="" alt="環境" title="環境" href="i" coords="567,474,676,526" shape="rect">
        <area target="" alt="跨域" title="跨域" href="j" coords="688,476,785,527" shape="rect">
        <area target="" alt="不分領域" title="不分領域" href="k" coords="796,476,914,570" shape="rect">
    </map>
  
  </div>
</div>
<div class="row">

  <div class="col-1>"></div>
  <div class="col-10  bg-light ">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">科目代碼</th>
          <th scope="col">科目名稱</th>
          <th scope="col">選必修別</th>
          <th scope="col">學分</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <th scope="row">{{ course.no }}</th>
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>{{ course.need }}</td>
          <td>{{ course.credit }}</td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
        
  });
  </script>

{% endblock %}
