{% extends "base.html" %}
{% block style %}
  <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}
{% block css %} 
.selected
{
    font-size:120%;
    color: #064420;
    background-color: #e4efe7;
}

#courselist_filter{
    padding: 5px 0
}

#courselist_filter input{
    margin-left: 5px
}

.dataTables_scrollHeadInner table{
    color: #e4efe7;
    background-color: #064420;
}

.right{
    text-align: right;
}
{% endblock %}
{% block main %}
    
  <div class="row">
  
  <div class="col-12 bg-light pt-5 mt-30 rounded">
    <h1></h1>
    <h1>核心能力試算</h1>
    <div class="p-1">
        <span>學年：</span>
        <input type="checkbox" class="btn-check" id="btn-check-01" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-01">107</label>
        <input type="checkbox" class="btn-check" id="btn-check-02" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-02">108</label>
        <input type="checkbox" class="btn-check" id="btn-check-03" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-03">109</label>
    </div>
    <div class="p-1">
        <span>類別：</span>
        <input type="checkbox" class="btn-check" id="btn-check-11" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-11">基礎</label>
        <input type="checkbox" class="btn-check" id="btn-check-12" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-12">體育</label>
        <input type="checkbox" class="btn-check" id="btn-check-13" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-13">體驗</label>
        <input type="checkbox" class="btn-check" id="btn-check-14" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-14">公民社會</label>
        <input type="checkbox" class="btn-check" id="btn-check-15" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-15">全球在地</label>
        <input type="checkbox" class="btn-check" id="btn-check-16" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-16">思考推論</label>
        <input type="checkbox" class="btn-check" id="btn-check-17" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-17">經典文化</label>
        <input type="checkbox" class="btn-check" id="btn-check-18" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-18">審美鑑賞</label>
        <input type="checkbox" class="btn-check" id="btn-check-19" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-19">環境科學</label>
        <input type="checkbox" class="btn-check" id="btn-check-20" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-20">跨域融通</label>
        <input type="checkbox" class="btn-check" id="btn-check-21" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-21">不分領域</label>
    </div>  

    <table id="courselist" class="table table-bordered table-sm" cellspacing="0" width="100%">
    </table>

    <button type="button" class="btn btn-primary" id="add"><i class="bi bi-plus-lg"></i>加入</button>
    <button type="button" class="btn btn-danger" id="remove"><i class="bi bi-dash-lg"></i>移除</button>

    <table id="courses-selected" class="table table-bordered table-sm" cellspacing="0" width="100%">
    </table>
    <div >
        <canvas id="myChart01"></canvas>
    </div>
    <div >
        <canvas id="myChart02"></canvas>
    </div>
    
  
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>    
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    var ctx01 = document.getElementById('myChart01').getContext('2d');
    var myChart01 = new Chart(ctx01, {
        type: 'bar',
        data: {
            labels: ['基礎能力', '人文素養', '社會關懷', '創新思辨', '終身學習能力', '國際視野'],
            datasets: [{
                label: '核心能力',
                data:[0,0,0,0,0,0] ,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        
        options: {
            title:{
                display: true,
                text: '核心能力',
                fontColor: 'blue',
                fontSize: 24,
                position: 'top'
            },
            legend: {
                display: false
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
            
        }
    });
    
    var ctx = document.getElementById('myChart02').getContext('2d');
    var myChart02 = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['基礎能力', '人文素養', '社會關懷', '創新思辨', '終身學習能力', '國際視野'],
            datasets: [{
                label: '高雄醫學大學',
                data: [0,0,0,0,0,0],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    
                borderColor: 'rgba(255, 99, 132, 1)',
                    
                borderWidth: 1
            }]
        },
        
        options: {
            legend: {
                display: false
            }
        }
    });
    </script>
    <script type="text/javascript">
    //console.log({{ courses| safe }});
    var courses={{ courses| safe }};
    var courses_selected=[];
    $(document).ready(function() {
    
    
    var table =$('#courselist').DataTable( {
        data: courses,
        columns: [
            { title: "學年" },
            { title: "學期" },
            { title: "開課序號" },
            { title: "科目名稱" },
            { title: "類別" },
            { title: "學分" , class: "right"},
            { title: "基礎力", class: "right" },
            { title: "人文力", class: "right" },
            { title: "關懷力", class: "right" },
            { title: "思辨力", class: "right" },
            { title: "學習力", class: "right" },
            { title: "國際力", class: "right" },
        ],
        "scrollY":        "300px",
        "scrollCollapse": true,
        "paging":         false,
        
        
    } );

    var table_selected =$('#courses-selected').DataTable( {
        data: courses_selected,
        columns: [
            { title: "學年" },
            { title: "學期" },
            { title: "開課序號" },
            { title: "科目名稱" },
            { title: "類別" },
            { title: "學分" , class: "right"},
            { title: "基礎力", class: "right" },
            { title: "人文力", class: "right" },
            { title: "關懷力", class: "right" },
            { title: "思辨力", class: "right" },
            { title: "學習力", class: "right" },
            { title: "國際力", class: "right" },
        ],
        "scrollY":        "300px",
        "scrollCollapse": true,
        "paging":         false,
        "select":true
        
    } );
    /*
    $('#courselist').on('click', 'tr', function () {
        var data = table.row( this ).data();
        
    } );
    */
    $('#courselist tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );

    $('#add').click(function(){

        console.log($(".selected " ).length);
        
        $(".selected " ).each(function(index, element){
            temp=[]
            var td=$(this).children("td");
            console.log(td.first().text());
            temp.push(parseInt(td.eq(0).text()));
            temp.push(parseInt(td.eq(1).text()));
            temp.push(parseInt(td.eq(2).text()));
            temp.push(td.eq(3).text());
            temp.push(td.eq(4).text());
            temp.push(parseInt(td.eq(5).text()));
            temp.push(parseInt(td.eq(6).text()));
            temp.push(parseInt(td.eq(7).text()));
            temp.push(parseInt(td.eq(8).text()));
            temp.push(parseInt(td.eq(9).text()));
            temp.push(parseInt(td.eq(10).text()));
            temp.push(parseInt(td.eq(11).text()));
            temp.push(parseInt(td.eq(12).text()));
            
            courses_selected.push(temp);
        });
        
        var rows = table.rows( '.selected' ).remove().draw();    

        //table_selected.rows().draw().nodes().to$();
        table_selected.clear()
        
        for(var i=0; i<courses_selected.length; i++){
            var rowNode = table_selected.row.add( courses_selected[i] ).draw().node();
            
            //$( rowNode ).css( 'color', 'green' ).animate( { color: 'black' } );
        }

        var core=[0,0,0,0,0,0];
        var data = table_selected.rows().data();
        console.log(data);
        for(var i=0; i<data.length; i++){
            core[0]=core[0]+data[i][6];
            core[1]=core[1]+data[i][7];
            core[2]=core[2]+data[i][8];
            core[3]=core[3]+data[i][9];
            core[4]=core[4]+data[i][10];
            core[5]=core[5]+data[i][11];
        }
        console.log(core);    
        
        for(var i=0; i<6; i++){
            myChart01.data.datasets[0].data[i]=core[i];
            myChart02.data.datasets[0].data[i]=core[i];
        }
        
        myChart01.update();
        myChart02.update();
    });
    $('#remove').click(function(){
        console.log('remove');
    });
} );
    </script>
{% endblock %}
