{% extends "base.html" %}
{% block main %}
  <div class="row">
  
    <div class="col-12 bg-light pt-5 mt-30 rounded">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">學期</th>
                <th scope="col">開課序號</th>
                <th scope="col">科目名稱</th>
                <!--
                <th scope="col">每周時數</th>
                -->
                <th scope="col">選課人數</th>
                <th scope="col">課程大綱</th>
                <th scope="col">核心能力</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr>
                <th scope="row">{{ course.no }}</th>
                <td>{{ course.學期 }}</td>
                <td>{{ course.開課序號 }}</td>
                <td>{{ course.科目名稱 }}</td>
                <!--
                <td>{{ course.每周時數 }}</td>
                -->
                <td>{{ course.選課人數 }}</td>
                <td><a href="https://wac.kmu.edu.tw/tea/teaaca/team2002c.php?SYEAR={{course.學年}}&SEM={{course.學期}}&SEQNO={{course.開課序號}}">課程大綱</a></td>
                <td><a href="https://wac.kmu.edu.tw/aca/acamap/acara407.php?cond={{course.學年}},{{course.學期}},{{course.開課序號}}">核心能力</a></td>
            </tr>
              {% endfor %}
              
            </tbody>
          </table>
    </div>
  </div>
{% endblock %}

{% block script %}


{% endblock %}
